<!DOCTYPE html>

<html>
<head>
    <title>Bug</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/rtl/bootstrap-rtl.css" rel="stylesheet" />
</head>
<body class="container">

<hr>
@RenderBody()


</body>
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
</html>